# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All Must-Use plugins
/wp-content/mu-plugins/*

# Custom Must-Use Plugin
#
# Note: If you wish to whitelist must-use plugins,
# uncomment the next line
# !/wp-content/-mu-plugins/your must-use plugin

# All plugins
/wp-content/plugins/*

# Custom Plugin
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
# !/wp-content/plugins/your plugin

# All themes
/wp-content/themes/*

# Custom Themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
!/wp-content/themes/wp-fictional-university

# IDEs
/.idea
/.vscode

# Local WP
local-xdebuginfo.php

# Vendor
/vendor